{% extends 'base.html.twig' %}

{% block title %}Mon espace - La boutique design{% endblock %}

{% block body %}
<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="max-height:30vh; background-image: url('../../assets/images/main-bg-products.jpg');" data-stellar-background-ratio="0.5">
  
</header>
<div class="container">
  <div class="row" style="display:flex; justify-content:center;">
    <div class="col-xs-12 col-sm-8 col-md-6 form-container">
      <div class="form-group">
        <h1 class="text-center" style="color:white; margin-top: 2rem;">S'inscrire</h1>
        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-outline btn-lg">Valider</button>
                <a href="{{ path('app_login') }}" style="text-decoration: underline;float:right;">Déjà inscrit ?</a>
            </div>
        {{ form_end(registrationForm) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
