{% extends "base.html.twig" %}
{% block title 'Nos produits - La Boutique Design' %}
{% block body %}
<header id="fh5co-header" class="fh5co-cover js-fullheight main-bg-products-2" role="banner" style="max-height: 50vh;" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container container-small">
    <div class="row">
      <div class="col-md-12 text-center display-tc">
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
        <a href="{{ path('product_list') }}" class="btn-danger btn-lg" style="max-width:300px">VOIR TOUS NOS PRODUITS</a>
        {% if is_granted('ROLE_USER') %}
          <a href="{{ path('product_favourite') }}" class="btn-danger btn-lg" style="max-width:300px">VOIR MES FAVORIS</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
<div id="fh5co-featured-menu" class="fh5co-section" style="padding:0">
  <div class="container" style="margin-top: 6rem">
    <div class="text-center">
      <h2 style="color:white; font-size:45px; font-weight: 600;">{{ title }}</h2>
    </div>
  </div>
  <div class="products-container">
    {% for product in products %}
    <div class="card-homepage">
        {% if is_granted('ROLE_USER') %}          
          {% for favourite in product.favourites %}
            <input type="checkbox" class="star-favourite" {{ (favourite.id == app.user.id) ? ("checked title='Supprimer ce produit de vos favoris'") : ("title='Ajouter ce produit à vos favoris'") }} data-id="{{ product.id }}">
          {% else %}
            <input type="checkbox" class="star-favourite" title="Ajouter ce produit à vos favoris" data-id="{{ product.id }}">
          {% endfor %}
        {% endif %}
        <img src="{{ asset('images/products/'~product.imageName) }}" alt="{{ product.name }}">
        <div class="card-title">
          <h4>{{ product.name }}</h4>
        </div>
        <h5 class="card-category">
          Catégorie : {{ product.category.name }}
        </h5>
        <p class="card-description">
          {{ product.description }}
        </p>
        <div class="card-price">
          <h4>{{ product.price|number_format(2, ',', ' ') }} €</h4>
        </div>
      </div>
    {% else %}
      <p>Il n'y a aucun produit à afficher</p>
    {% endfor %}
  </div>
</div>
<script src="{{ asset('assets/js/favouritebuttons.js') }}"></script>
{% endblock %}