{% extends 'base.html.twig' %}

{% block title %}Espace administrateur - La boutique design{% endblock %}

{% block body %}
<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="max-height:60vh; background-image: url('../..//assets/images/main-bg-products.jpg')" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container container-small">
    <div class="row">
      <div class="col-md-12 text-center display-tc">
        <h1>Espace administrateur</h1>
      </div>
    </div>
  </div>
</header>
<div class="container" style="margin-top: 3rem">
  <div class="text-center">
    <h2 style="color:white; font-size:45px; font-weight: 600;">Gestion de vos produits</h2>
    {% for message in app.flashes('product') %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
  </div>
</div>
<div style="display:flex; justify-content: space-between; flex-wrap: wrap; margin:0 3rem;">
  <div class="input-group" style="display:flex; width:300px; margin-bottom: 1rem">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn-success btn-lg" type="button" id="button-addon2"style="border-bottom-left-radius: 0;border-top-left-radius: 0;"><i class="icon-magnifying-glass"></i></button>
  </div>
  <a href="{{ path('admin_product_new') }}" class="btn-success btn-lg" role="button" style="float:right; line-height: unset; margin-bottom: 1rem">
    <i class="icon-plus"></i>&nbsp;CREER UN PRODUIT
  </a>
</div>
<div class="products-container">
  {% for product in products %}
    <div class="card-admin">
      <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}">
      <div class="card-title">
        <h4>{{ product.name }}</h4>
      </div>
      <h5 class="card-category">
        Catégorie : {{ product.category.name }}
      </h5>
      <p class="card-description">
        {{ product.description }}
      </p>
      <div class="card-price">
        <h4>Prix de vente : {{ product.price|number_format(2, ',', ' ') }} €</h4>
      </div>
      <p class="card-created">
        Créé le {{ product.createdAt|date("d/m/Y") }}
      </p>
      {% if product.createdAt|date("d/m/Y H:i") != product.updatedAt|date("d/m/Y H:i") %}
        <p class="card-updated">
          Modifié le {{ product.updatedAt|date("d/m/Y") }}
        </p>
      {% endif %}
      <div class="card-firstpage">
        <label class="switch">
          <input type="checkbox" class="btn-firstpage" {{ product.firstpage ? 'checked' : '' }} data-id="{{ product.id }}">
          <span class="slider round"></span>
        </label>
        <p>&nbsp;Première page</p>
      </div>
      <div class="card-active">
        <label class="switch">
          <input type="checkbox" class="btn-active" {{ product.active ? 'checked' : '' }} data-id="{{ product.id }}">
          <span class="slider round"></span>
        </label>
        <p>&nbsp;Active</p>
      </div>
      <div class="card-buttons">
        <a href="{{ path('admin_product_edit', {'slug': product.slug}) }}" class="btn-warning btn-lg" role="button">
          <i class="icon-pencil"></i>&nbsp;Editer
        </a>
        <a href="{{ path('admin_product_delete', {'id': product.id}) }}" class="btn-danger btn-lg" role="button" onclick="return confirm('Le produit {{ product.name }} va être définitivement supprimé, ce choix doit être confirmé ?')">
          <i class="icon-trash"></i>&nbsp;Supprimer
        </a>
      </div>
    </div>
  {% else %}
    <p>Il n'y a aucun produit à afficher</p>
  {% endfor %}
</div>
  <script src="{{ asset('assets/js/switchbuttons.js') }}"></script>
{% endblock %}
